name: Build and publish Docker image

on:
  push:
    branches: ['main']
  workflow_dispatch:

jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ secrets.DOCKER_USERNAME }}/calendario-ac-cosmetic
            ghcr.io/${{ secrets.DOCKER_USERNAME }}/calendario-ac-cosmetic
          tags: |
            type=raw,value=v0.0.${{ github.run_number }}
            type=raw,value=latest
            type=sha

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push  # MODIFICADO: Usa tags dinámicos
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}  # Automático: v0.1.0, v0.1, latest, sha
          labels: ${{ steps.meta.outputs.labels }}  # Mejora metadata
          cache-from: type=gha
          cache-to: type=gha,mode=max
